@keyframes openSearchBarSmall {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 60%;
    max-width: 400px;
  }
}

@keyframes openSearchBarSmallInput {
  0% {
    padding: 8px 0;
    border-width: 0;
  }

  100% {
    padding: 8px 40px 8px 30px;
    border-width: 1px;
  }
}

@keyframes closeSearchBarSmall {
  0% {
    opacity: 1;
    width: 60%;
    max-width: 400px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes closeSearchBarSmallInput {
  0% {
    padding: 8px 40px 8px 30px;
    border-width: 1px;
  }

  100% {
    padding: 8px 0;
    border-width: 0;
  }
}

@keyframes openSearchBarStandart {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 45%;
    max-width: 570px;
  }
}

@keyframes openSearchBarStandartInput {
  0% {
    padding: 15px 0;
    border-width: 0;
  }

  100% {
    padding: 15px 40px 15px 30px;
    border-width: 1px;
  }
}

@keyframes closeSearchBarStandart {
  0% {
    opacity: 1;
    width: 45%;
    max-width: 570px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}

@keyframes closeSearchBarStandartInput {
  0% {
    padding: 15px 40px 15px 30px;
    border-width: 1px;
  }

  100% {
    padding: 15px 0;
    border-width: 0;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }  
  100% { opacity: 1; }  
}

@keyframes fadeOut {
  0% { opacity: 1; }  
  100% { opacity: 0; }  
}
